<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Koniec gry!</title>
    <style>
        body {
            background: url('/static/images/tlo.png') no-repeat center center fixed;
            font-family: 'Futura', sans-serif;
            color: #4b280a;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }
    </style>
</head>
<body>
    <h1>Gra skończona!</h1>
    <h2>Wygrał: {{ winner }}</h2>

</body>
</html>